.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 22;

  &__button {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__nav {
    display: flex;
    gap: 32px;
  }
  &__link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.2s;
    &:hover { color: #FF6201; }
  }

  &__column--last {
    display: flex;
    align-items: center;
    gap: 20px
  }
  &__button {
    margin-left: 24px;
  }
  &__burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 102;
    span {
      display: block;
      width: 28px;
      height: 3px;
      background: #fff;
      margin: 4px 0;
      border-radius: 2px;
      transition: 0.3s;
    }
    &--open span:nth-child(1) { transform: rotate(45deg) translate(5px, 5px); }
    &--open span:nth-child(2) { opacity: 0; }
    &--open span:nth-child(3) { transform: rotate(-45deg) translate(5px, -5px); }

    &--open span {
      margin: 2px 0;
    }
  }

  // Мобильное меню
  &__mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #181818ee;
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    .header__link, .header__button {
      font-size: 20px;
      margin: 16px 0;
      width: 80vw;
      text-align: center;
    }
    &--open {
      display: flex;
      opacity: 1;
      pointer-events: auto;
      animation: fadeIn 0.2s;
    }
  }
  &__mobile-close {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 36px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 110;
  }

  @media (max-width: 800px) {
    padding-left: 12px;
    padding-right: 12px;
    &__nav, &__account { display: none; }
    &__burger { display: flex; }
  }
  @media (max-width: 400px) {
    &__mobile {
      .header__link, .header__button { font-size: 16px; }
      &-close { right: 16px; }
    }
  }
}

// Анимация появления меню
@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
