.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90vw;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 420px) {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 80px;

    gap: 90px;
    border-radius: 24px;
    margin-bottom: 48px;

    @media (max-width: 860px) {
      padding: 40px;
      gap: 40px;
    }

    @media (max-width: 420px) {
      padding: 10px;
      border-radius: 0;
    }
  }

  &__bottom-text {
    font-size: 58px;
    color: #fff;

    @media (max-width: 860px) {
      font-size: 36px;
    }

    @media (max-width: 420px) {
      font-size: 28px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__title {
    color: #000;
    margin-bottom: 24px;
    text-align: center;
  }
  
  &__column:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  &__subtitle {
    font-size: 24px;
    color: #6A6A6A;
    max-width: 420px;
    text-align: center;

    @media (max-width: 860px) {
      font-size: 18px;
      max-width: unset;

    }
  }

  &__column:last-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @media (max-width: 1240px) {
      flex-direction: column;
    }
  }

  &__column-title {
    max-width: 410px;
    color: #1E59EB;
    font-size: 36px;
    font-weight: 500;

    @media (max-width: 1240px) {
      max-width: unset;
      margin-bottom: 20px;
    }

    @media (max-width: 860px) {
      font-size: 24px;
      text-align: center;
    }
  }

  &__list {
    display: flex;
   flex-wrap: wrap;
    gap: 20px;
  }

  &__list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 12px;

    width: 48%;
    background: #1E59EB;
    border-radius: 24px;

    @media (max-width: 768px) {
      width: 100%;
    }

    img {
      margin-right: 20px;

      @media (max-width: 1775px) {
        width: 120px;
      }

      @media (max-width: 1385px) {
        width: 100px;
      }
    }

    span {
      font-size: 18px;

      @media (max-width: 1385px) {
        font-size: 16px;
      }
    }
  }
}